body{
    background-color:teal;
}


section{
    background-color: lightblue;
    flex-wrap: wrap;
}



#fiveDay{
    display: flex;
    justify-content: center;
    float: center;
    font-size: 30px;
    background-color:teal;
    color:white;
}

article{
    background-color: lightgray;
  flex-wrap: inline;
 align-items: center;

}
.navbar {
    margin-right: 0;
    background-color: #02bec1;
    color: white;
   display: flex;
   justify-content: center;
   
   height: 250px;
   font-size: 50px;
 

}

.current-box {
    margin-right: 10px;
    background-color: green;
}

input {
    margin-left: 5px;
}

button {
    background-color:  #02e6e9;
    border: 2px solid cornflowerblue;
    color: whitesmoke;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px
}

button:active {
    background-color: lightblue;
}

button:hover {
    background-color: darkcyan;
    border: 2px solid;
}



.clear {
    background-color: burlywood;
    border: 2px solid lightsalmon;
   
}
.mt-1{
    display: flex;
    flex-direction: column;   
}
.three{
    border: navy solid 15px;
    padding-left:20px ;
    width: 200px;
}

.forecastList
{

    display: flex;
    justify-content: space-around;
    
}


.search{
    display: flex;
}



.one img{
    display: inline;
    justify-content: flex-end;
    float: right;
    width: 990px;
    height: 247px;
    

}
#cityname{
    background-color: salmon;

}

footer{
    display: flex;
    justify-content: center;
 
}
